*{
    margin: 0%;
    padding: 0%;
    overflow: auto;
    font-family: 'Cabin', sans-serif;
}
p{
    font-size: 23px;
}
/*Recursos*/
.fondo1{
    background-image: url(Recursos/fondo1.jpg);
}
.fondo2{
    background-image: url(Recursos/fondo3.jpg);
}
.fondo3{
    background-image: url(Recursos/fondo2.jpg);
}
.fondo4{
    background-image:  url(Recursos/fondo5.jpg);
}
.fondo5{
    background-image: url();
}
.fondo6{
    background-image: url(Recursos/fondo7.webp);
}
.subtituloA{
    font-size: 50px;
    color: black;
}
.subtituloB{
    font-size: 50px;
    color: white;
}
.boton{
    margin-top: 90px;
    padding: 10px;
    background-color: #0073de;
    color: white;
    font-family: 'Cabin', sans-serif; 
    border-radius: 20px;
    text-decoration: none;
}

.boton:hover{
    background-color: #0045ac;
}
/*Parte del título y encabezado*/
header{
    background-color: #FDC912;
    width: 100%;
    margin-bottom: 2%;
}
.titulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
}
.barra{
    width: 100%;
    overflow: auto;
    background-color: #3693FF;
}
.barra a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 27px;
  }
.barra a:hover{
    background-color: #97C7FF;
}
.activo{
    background-color: #0067de;
}

.gif1{
    display: block;
    width: 5%;
}

/*Imagen con texto*/
.imgText{
    position: relative;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 5px solid #8d8d8d;
    overflow: unset;
}
.imgText img {
    vertical-align: middle;
    width:100%
}
.imgText .content {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
}




/*Primera sección, Inicio*/


.caja1{
    padding: 37px;
    background-color: #F0F0F0;
    margin: 0px 20px 0px 20px;
    text-align: left;
}

/*Segunda seccion Temporadas*/
.caja2{
    padding: 37px;
    background-color: #FF8730;
    margin: 0px 20px 0px 20px;
    text-align: left;
    color: white;
    overflow: unset;
}
.table{
    border: none;
    background: rgba(255, 255, 255, 0.5);
    margin: 20px;
    padding: 37px;
}
.table table{
    width: 100%;
    text-align: center;
    border: 2px solid rgb(255, 127, 42);
}
.table th{
    font-size: 24px;
    background-color: #ff3a3a;
}
.table td{
    color: #000000;
    background-color: #ffda9e;
}
.caja2-1{
    padding: 37px;
    background-color: #F0F0F0;
    margin: 0px 20px 0px 20px;
    text-align: left;
    color: black;
}
.caja2-1 p{
    font-size: 20px;
}
.video{
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    text-align: center;
}
.video iframe{
    width: 100%;
}

/*Tercera seccion Personajes*/
.caja3{
    padding: 37px;
    background-color: #3693FF;
    margin: 0px 20px 0px 20px;
    text-align: left;
    color: white;
}
.caja3-1{
    text-align: center;
    background-color: #81bcff;
    display: grid;
    gap: 1rem;
    image-resolution: 50px;
    grid-template-rows: minmax(100px auto);
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    align-items: center;
    padding: 30px;
    overflow: unset;
}
.imgbox {
    width: 235px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    overflow: unset;
}
  
.textbox {
    color: black;
    text-align: center;
    padding: 10px 10px;
}

/*Cuarta sección Productos*/
.caja4{
    display: block;
    padding: 37px;
    background-color: #FDC912;
    margin: 0px 20px 0px 20px;
    text-align: left;
    color: white;
}
.caja4-1 div{
    width: auto;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-top: 8px solid rgb(255, 76, 162);
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.caja4-1 p{
    font-size: 20px;
}
.caja4-1 div img{
    
    display: block;
    margin-right: 20px;
    float: left;
    width: 50%;
    max-width: 50%;
    border-radius: 20px;
    border: 2px solid rgb(185, 185, 185);
}
/*Quinta seccion Noticias*/
.caja5{
    padding: 37px;
    background-color: #FF8888;
    margin: 0px 20px 0px 20px;
    text-align: left;
    color: white;
    font-family: 'Cabin', sans-serif;
}
.notconfi{
    padding: 10px;
    background-color: #ff5d6b;
    display: grid;
    gap: 1rem;
    image-resolution: 50px;
    grid-template-rows: minmax(100px auto);
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    align-items: center;
    overflow: unset;
}
.notbox {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: unset;
}
.notbox img{
    width: 100%;
}
.notxt {
    color: black;
    text-align: center;
    padding: 10px 20px;
}
.notxt p{
    font-size: 15px;
    overflow: unset;
}
/*Final*/
.caja6{
    margin-top: 40px;
    padding: 20px;
    background-color: #9E7200;
    color: white;
    font-size: 20px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
}

/*CELULARES*/
@media only screen and (max-width: 600px){
    p{
        font-size: 20px;
        text-align: left;
    }
    .titulo{
        width: 70%;
    }
    .subtituloA{
        font-size: 40px;
    }
    .subtituloB{
        font-size: 40px;
    }
    .barra a{
        float: none;
        display: block;
        padding: 8px;
        font-size: 20px;
        text-align: center;
    }
    /*primera seccion*/
    .caja1{
        margin: 0px 5px 0px 5px;
        padding: 15px;
        overflow: unset;
    }
    .imgText{
        width: 90%;
    }
    /*Segunda seccion*/
    .caja2{
        margin: 0px 5px 0px 5px;
        padding: 15px;
    }
    .table{
        padding: 0px;
        margin: 5px 0px 5px 0px;
        overflow: unset;
    }
    .table table{
        width: 100%;
    }
    .table th{
        font-size: 15px;
    }
    .table td{
        font-size: 12px;
    }
    .caja2-1{
        margin: 5px;
        padding: 15px;
    }

    .video{
        margin: 5px;
        padding: 5px;
    }
    .video iframe{
        height: 100%;
        width: 100%;
    }
    /*Tercera seccion*/
    .caja3-1{
        padding: 10px;
    }
    .imgbox{
        margin: 0;
        padding: 0;
    }
    .imgbox{
        width: 60%;
    }
    .imgbox img{
        width: 100%;
        height: auto;
    } 
    .textbox p{
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
        
    }
    /*Quinta seccion*/
    .notconfi{
        margin: 0;
        padding: 0;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        align-items: center;
    }
    .notbox{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .notbox h3{
        font-size: 15px;
    }
    .notbox p{
        font-size: 15px;
    }
    .notbox a{
        text-align: center;
    }
    /*Cuarta quinta xd*/
    .notconfi{
        padding: 0;
    }
    .caja4-1{
        padding: 0;
        margin: 0;
    }
    .caja4-1 h2{
        font-size: 15px;
    }
    .caja4-1 p{
        font-size: 10px;
    }
}
